
body {
    width: 80%;
    margin: 0 auto;
}
      
#header {
    list-style-type: none;
    padding: 0;
  
}
      
#menu-box, #main,#notice {
    float: left;
    padding: 0;
    margin: 0;
}
      
#menu-box {
    width: 25%;
}
      
#main {
    width: 50%;
}

#articule {
    list-style-type: none;
    padding: 0;
}
      
#articule li {
   float: left;
    width: 33%;
}


#lineal-menu {
    list-style-type: none;
    padding: 0;
}
      
#lineal-menu li {
   float: left;
    width: 15%;
}

#notice {
    width: 25%;
}